* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 30px; 
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

.main-content {
    margin-top: 80px; 
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(20, 20, 50, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    color: #fff;
    z-index: 1000;
    transition: background 0.5s, box-shadow 0.5s;
    backdrop-filter: blur(10px);
}

.navbar.scrolled {
    background: rgba(20, 20, 50, 0.95);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.navbar-profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.navbar-profile-pic:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.navbar-title {
    font-size: 26px;
    font-weight: bold;
    color: #ffda79;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    gap: 30px;
    transition: transform 0.4s, opacity 0.4s;
}

.navbar-links li {
    transition: transform 0.3s ease;
}

.navbar-links li:hover {
    transform: scale(1.1);
}

.navbar-links li a {
    text-decoration: none;
    color: #ffda79;
    font-size: 18px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar-links li a:hover {
    color: #fff;
    text-shadow: 0 0 8px rgba(255, 218, 121, 0.7);
}

.navbar-menu-icon {
    display: none;
    font-size: 30px;
    color: #ffda79;
    cursor: pointer;
}

/* New dropdown style for mobile */
.navbar-dropdown {
    display: none; /* Hidden by default for desktop */
    font-size: 18px;
    padding: 10px;
    color: #ffda79;
    background: rgba(20, 20, 50, 0.9);
    border: none;
    margin-top: 10px;
}

/* Display dropdown on smaller screens */
@media (max-width: 768px) {
    .navbar-links {
        display: none; /* Hide navbar links */
    }

    .navbar-dropdown {
        display: inline-block; /* Show dropdown on mobile */
    }
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        background: rgba(20, 20, 50, 0.9);
        transform: translateX(100%);
        opacity: 0;
        box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    }

    .navbar-links.active {
        transform: translateX(0);
        opacity: 1;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    .navbar-menu-icon {
        display: block;
        margin-left: auto;
        animation: fadeIn 1.2s ease;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

