
footer {
    background-color: #2a2a72; 
    padding: 40px 20px; 
    text-align: center;
    color: #ffffff;
    font-size: 0.95em; 
    border-top: 5px solid #ffda79; 
    position: relative; 
}

.footer-content p {
    margin: 10px 0; 
    font-weight: 300; 
}


.contact-details {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0; 
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.contact-details li {
    margin: 0 15px;
}

.contact-details a {
    color: #ffda79;
    text-decoration: none; 
    transition: color 0.3s ease, transform 0.3s ease; 
    font-weight: 500; 
}

.contact-details a:hover {
    text-decoration: underline;
    color: #ffffff; 
    transform: scale(1.05);
}

.social-media {
    margin-top: 20px; 
}

.social-media a {
    margin: 0 10px; 
    color: #ffda79; 
    font-size: 1.5em; 
    transition: color 0.3s ease, transform 0.3s ease; 
}

.social-media a:hover {
    color: #ffffff; 
    transform: scale(1.1); 
}

@media (max-width: 600px) {
    footer {
        font-size: 0.8em; 
        padding: 30px 10px; 
    }
    .contact-details {
        flex-direction: column;
        align-items: center; 
    }
}
