{% extends "base.html" %}

{% block title %}
API Access
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/api_access.css') }}">
{% endblock style %}

{% block content %}
<div class="login-container">
    <h2>API Access</h2>
    <form id="apiForm" action="/model_info" method="POST">
        <div class="input-group">
            <label for="model_name">Enter Model Name</label>
            <input type="text" id="model_name" name="model_name" placeholder="Enter model name here ..." required>
        </div>
        <div class="input-group">
            <label for="api_key">Enter your NVIDIA API Key</label>
            <input type="password" id="api_key" name="api_key" placeholder="Enter API key ..." required>
        </div>
        <button type="submit">Access API</button>
    </form>
</div>

{% endblock content %}

