<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Access</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='api_access.css') }}">
</head>
<body>

<div class="login-container">
    <h2>API Access</h2>
    <form id="apiForm" action="/model_info" method="POST">
        <div class="input-group">
            <label for="model_name">Enter Model Name</label>
            <input type="text" id="model_name" name="model_name" placeholder="Enter model name here ..." required>
        </div>
        <div class="input-group">
            <label for="api_key">Enter your NVIDIA API Key</label>
            <input type="password" id="api_key" name="api_key" placeholder="Enter API key ..." required>
        </div>
        <button type="submit">Access API</button>
    </form>
</div>

<script src="api_access.js"></script> 
</body>
</html>
