{% extends "base.html" %}

{% block title %}chat-bot{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
{% endblock style %}

{% block content %}
<div class="main-container">
    <div class="sidebar">
        <form action="/task" method="POST" id="actionForm">
            <button type="submit" id="paraphraserButton" onclick="setAction('Paraphraser')"><span>🔄</span>
                Paraphraser</button>
            <button type="submit" id="grammarCheckerButton" onclick="setAction('Grammar Checker')"><span>✍️</span>
                Grammar Checker</button>
            <button type="submit" id="aiDetectorButton" onclick="setAction('AI Detector')"><span>🤖</span> AI
                Detector</button>
            <button type="submit" id="plagiarismCheckerButton" onclick="setAction('Plagiarism Checker')"><span>📑</span>
                Plagiarism Checker</button>
            <button type="submit" id="summarizerButton" onclick="setAction('Summarizer')"><span>📝</span>
                Summarizer</button>
            <button type="submit" id="shortAnswerButton" onclick="setAction('Short Answer')"><span>🔄</span> Short
                Answer</button>
            <button type="submit" id="clearButton" onclick="setAction('Just Chat')">💬 Just Chat</button>

            <input type="hidden" name="action" id="selectedAction">
        </form>

    </div>

    <script>
        function setAction(action) {
            document.getElementById('selectedAction').value = action;
        }
    </script>


    <div class="chat-container">
        <div class="chat-box">
            <div class="message bot-message">{{ query_input }}</div>
            <div class="message bot-message">{{ response|safe }}</div>
        </div>
        <div class="watermark">chat-bot</div>

        <div class="input-container">
            <form action="/query" method="POST">
                <input type="text" name="user_input" placeholder={{ task }} required>
                <button type="submit"><span class="send-button-icon">➤</span></button>
            </form>
        </div>
    </div>
</div>

<footer>
    <div class="footer-content">
        <div class="profile-pic">
            <img src="static\images\profile-pic.png" alt="Vijay Takbhate Profile Picture">
        </div>
        <p>&copy; 2024 Text-Text Generator Chatbot. All rights reserved.</p>
        <p><strong>Contact Information:</strong></p>
        <ul class="contact-details">
            <li><strong>Name:</strong> Vijay Takbhate</li>
            <li><strong>Email:</strong> <a href="mailto:vijaytakbhate20@gmail.com">vijaytakbhate20@gmail.com</a>
            </li>
            <li><strong>Phone:</strong> <a href="tel:+918767363681">+91 8767363681</a></li>
            <li><strong>GitHub:</strong> <a href="https://github.com/vijaytakbhate"
                    target="_blank">github.com/vijaytakbhate</a></li>
            <li><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/vijaytakbhate"
                    target="_blank">linkedin.com/in/vijaytakbhate</a></li>
            <li><strong>Kaggle:</strong> <a href="https://kaggle.com/vijaytakbhate"
                    target="_blank">kaggle.com/vijaytakbhate</a></li>
        </ul>
    </div>
</footer>

{% endblock content %}