<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Chat-Bot {% endblock title %}</title>
    {% block style %}
    <link rel="stylesheet" href="path/to/nav.css">
    {% endblock style %}
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar" id="navbar">
        <img src="static/images/logo.jpeg" alt="Profile Picture" class="navbar-profile-pic">
        <h1 class="navbar-title">Grammar-Bot</h1>
        <ul class="navbar-links" id="navbarLinks">
            <li><a href="{{ url_for('user_guide') }}">User Guide</a></li>
            <li><a href="{{ url_for('api_access') }}">Use Bot</a></li>
        </ul>
        <div class="navbar-menu-icon" onclick="toggleMenu()">☰</div>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
        {% block content %}
        {% endblock content %}
    </div>

    <script src="nav.js"></script>

</body>
</html>
