{%extends "navbar_templates/base.html"%}

{% block title %}
chat-bot
{% endblock title %}

{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">

{% endblock style %}

{% block content %}

<div class="main-container">
    <div class="sidebar">
        <form action="/task" method="POST" id="actionForm">
            <button type="submit" onclick="return selectAction('Paraphraser')"><span>🔄</span> Paraphraser</button>
            <button type="submit" onclick="return selectAction('Grammar Checker')"><span>✍️</span> Grammar
                Checker</button>
            <button type="submit" onclick="return selectAction('AI Detector')"><span>🤖</span> AI Detector</button>
            <button type="submit" onclick="return selectAction('Plagiarism Checker')"><span>📑</span> Plagiarism
                Checker</button>
            <button type="submit" onclick="return selectAction('Summarizer')"><span>📝</span> Summarizer</button>
            <button type="submit" onclick="return selectAction('Short Answer')"><span>🔄</span> Short Answer</button>

            <button type="submit" id="clearButton" onclick="return selectAction('Just Chat')">💬 Just Chat</button>

            <input type="hidden" name="action" id="selectedAction">
        </form>
    </div>

    <script>
        function selectAction(action) {
            document.getElementById("selectedAction").value = action;
            document.getElementById("actionForm").submit();
            return false; // Prevents the default form submission and ensures the input is set correctly
        }
    </script>


    <div class="chat-container">
        <div class="chat-box">
            <div class="message bot-message">{{ response }}</div>
        </div>

        <div class="watermark">chat-bot</div>

        <div class="input-container">
            <form action="/query" method="POST">
                <input type="text" name="user_input" placeholder="Ask me something ..." required>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}